#lets-begin-work
	%p
		Hey &#44; 
		%span.text-bold.copy-medium-spring-green Thanks for
		%span.text-bold.copy-golden-yellow Letting
		us 
		%span.text-bold.copy-red Design
		your
		%span.text-bold.copy-athletic-blue 
		Website. We will 
		%span.text-bold.copy-blue Start
		work on your website in a 
		%span.text-bold.copy-medium-spring-green few hours
		and get back to you with your 
		%span.text-bold.copy-golden-yellow First Version.
		We will be 
		%span.text-bold.copy-red Talking
		to 
		%span.text-bold.copy-golden-yellow each 
		other through the 
		%span.text-bold.copy-medium-spring-green Process 
		of 
		%span.text-bold.copy-orange building
		your website.
		//You will use our dashboard and website to get the work going. 
		We 
		%span.text-bold.copy-red Promise
		, we will work as 
		%span.text-bold.copy-athletic Fast 
		as 
		%span.text-bold.copy-medium-spring-green Possible
		to get your website
		%span.text-bold.copy-red Completed.		
		
	%p
		We are a 
		%span.copy-orange Small
		%span.copy-athletic-blue Team
		of
		%span.copy-electric-indigo Three
		based out of 
		%span.text-bold.copy-orange Bhubaneswar,
		a small city in 
		%span.text-bold.copy-medium-spring-green Eastern India
		who
		%span.text-bold.copy-red Design &#44;
		%span.text-bold.copy-medium-spring-green Program
		and
		%span.text-bold.copy- Copy Write
		Great Websites&#46;
		.line-red
		//Hope you check our Around the World page &#49; //where we share photographs of the worlds most //inspiring, motivating and thought-provoking //moments. And &#49; our What&#rquo;s Happening //Around the World section on the Home Page, where //we share yesterday&rquo;s most happening News //stories.
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		