#lets-begin-work
	%p
		Hey 
		%span.copy-red John Kite&#49; 
		thanks for
		%span.copy-medium-spring-green letting
		us design your
		%span.copy-blue 
		website.
		We will start work on your website in a few hours and get back to you with your first version. We will be interacting with each other through the process of building your website. You will use our dashboard and website to get the work going. We promise, we will work fast to get your website completed soon.
		
		We are based out of Bhubaneswar, a small city in Eastern India. We are a small team of three Designing, Programming and Copy Writing websites. Hope you check our Around the World page &#49; where we share photographs of the worlds most inspiring, motivating and thought-provoking moments. And &#49; our What&#rquo;s Happening Around the World section on the Home Page, where we share yesterday&rquo;s most happening News stories.
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		