#lets-begin-work
	%p.margin-bottom-five-percent
		Hey &#44;
		%span.copy-red
			#{@website.people_name}
		%span.text-bold.copy-medium-spring-green Thanks for
		%span.text-bold.copy-golden-yellow Letting
		us 
		%span.text-bold.copy-red Design
		your
		%span.text-bold.copy-navy-blue-sports 
		Website. We will 
		%span.text-bold.copy-blue Start
		work on your website in a 
		%span.text-bold.copy-medium-spring-green few hours
		and get back to you with your 
		%span.text-bold.copy-golden-yellow First Version.
		We will be 
		%span.text-bold.copy-red Talking
		to 
		%span.text-bold.copy-golden-yellow each 
		other through the 
		%span.text-bold.copy-medium-spring-green Process 
		of 
		%span.text-bold.copy-orange building
		your website.
		//You will use our dashboard and website to get the work going. 
		We 
		%span.text-bold.copy-red Promise
		, we will work as 
		%span.text-bold.copy-athletic Fast 
		as 
		%span.text-bold.copy-medium-spring-green Possible
		to get your website
		%span.text-bold.copy-red Completed.		
		
	%h3#information-team.sit-center
		We are a 
		%span.copy-orange Small
		%span.copy-navy-blue-sports Team
		of
		%span.copy-electric-indigo Three
		based out of 
		%span.text-bold.copy-orange Bhubaneswar,
		a small city in 
		%span.text-bold.copy-medium-spring-green Eastern India
		who
		%span.text-bold.copy-red Design &#44;
		%span.text-bold.copy-medium-spring-green Program
		and
		%span.text-bold.copy- Copy Write
		Great Websites&#46;
	
	%h2.sit-center
		%span.copy-golden-yellow Check
		your
		%span.copy-navy-blue-sports Email
		for our
		%span.copy-red Welcome
		%span.copy-medium-spring-green Email.
	
	#circle-direction
		.circle.background-jade
			%span.copy-white
				&darr;
	
	#from-our-blog
		%h3.sit-center.margin-bottom-five-percent
			From Our Blog
		.row
			- @recentPosts.each do |objRecentPost|
				.col-md-5.margin-left-two-hundreds
					=link_to objRecentPost do
						.background-yellow
							%h2.copy-navy-blue-sports
								=objRecentPost.title
					=link_to "Read More", objRecentPost
				.col-md-5
					=link_to objRecentPost do
						.background-red
							%h2.copy-white
								=objRecentPost.title
					=link_to "Read More", objRecentPost
		