#notes-form
	#navigation
		%h2.pull-left
			=link_to "Notes", notes_path
			
	=form_for @note do |objNote|
		.row.sit-bottom
			.col-md-8.margin-left-one-hundreds
				=objNote.label :title, "Title of the Note.", class: "copy-medium-spring-green"
				=objNote.text_field :title, placeholder: "Title of the Note", class: "controls margin-bottom-five-percent", id: "note-title"
				
				=objNote.label :content, "Body of the Note", class: "copy-orange-red"
				=objNote.text_area :content,class: "controls margin-bottom-five-percent",placeholder: "Start from here..."
				
				=objNote.submit 'Save Your Note', id: 'button-dodger-blue-second', class: "sit-center"
				
			.col-md-3
				%h2
					= link_to "Write a New Note", new_note_path, id: "button-dodger-blue-second"