#notes-form
	=form_for @note do |objNote|
		.row
			.col-md-8
				=objNote.label :title, "Title of the Note.", class: "copy-medium-spring-green"
				=objNote.text_field :title , class: "controls", id: "note-title"
		
		.row
			.col-md-8
				=objNote.label :content, "Body of the Note", class: "copy-orange-red"
				=objNote.text_area :content, class: "controls"
				
		=objNote.submit 'Save Your Note'
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		