#lets-work-together
	%h1.sit-center.copy-red
		Let&rsquo;s work together.
	#lets-start
		=render 'form'
	-#- if @world.new_record?
	%h3.sit-center.copy-navy-blue
		We believe it&rsquo;s easier to remember passwords when you see it and type.
		