#our-blog
	%h1.copy-navy-blue-sports.sit-center.margin_bottom_five_percent
		Our Blog
		= @blogs.inspect
		- @blogs.each do |a_blog_post|
		.row
			.col-md-5.background-golden-yellow
				%h3.sit-center
					!= a_blog_post.title
			.col-md-7
				%h3.copy-white.background-orange-red.margin-bottom-three-percent
					!= a_blog_post.title				
				%p.copy-navy-blue-sports
					!= a_blog_post.content