#share-story
	%h2.sit-center.copy-navy-blue-sports
		%span.copy-red What&rsquo;s 
		%span.copy-medium-spring-green Happening 
		%span.copy-golden-yellwo Around
		The
		%span.copy-blue World
	= render 'form'	