=form_for :people, url: people_path,method: :post do |objPeople|
	.form-group
		%p.sit-center
			%span.border-two-pixels-red Email
		=objPeople.label :email, class: "hidden"
		=objPeople.text_field :email, class: "controls"
			
	.form-group
		%p.sit-center
			%span.border-two-pixels-red Password
		=objPeople.label :password, class: "hidden"
		%p
			It&rsquo;s easier to 
			%span.copy-medium-spring-green remember
			%span.copy-red passwords
			when you see and type. 
			So...
		=objPeople.text_field :password, class: "controls"
		
	=objPeople.submit 'Roll In...', id: "button-black", class: "sit-center"
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	