=form_for :people, url: people_path, method: :post do |objPeople|
	.form-group
		%p.sit-center
			%span Email
		=objPeople.label :email, class: "hidden"
		=objPeople.text_field :email, class: "controls"
			
	.form-group
		%p.sit-center
			%span Password
		=objPeople.label :password_digest, class: "hidden"
		=objPeople.text_field :password_digest, class: "controls"
		
	=objPeople.submit 'Roll In', id: "people-design-studio-button-blue"