#lets-work-together
	%h1.sit-center.copy-navy-blue-sports
		Let&rsquo;s Work Together.
	%h1.sit-center.copy-orange-red SIGN UP	
	.row#lets-start
		.col-md-5.col-md-offset-4
			=render 'signup_form'
	-#- if @people.new_record?
	%h3.sit-center.copy-navy-blue
		We believe it&rsquo;s easier to remember passwords when you see it and type.
		