#photos_from_around_the_world.eighty_percent_width
	
	%h1
		Photos From Around the World
	
	.line.background_yellow
	
	%p.text_bold
		We collect some of the most inspiring, heart-wrenching and what&#rquo; possible in life photographs from around the world. This is for the world to see, like it and spread it through. We would like your opinions on this.
		
	//Our Slider
	#pictures_box.eighty_percent_width
		%ul#pictures
			%li
				%h3.caption
					%span.circle.background_yellow
						1
					A Hitter Batting	
				=image_tag "Pictures-From-Around-The-World/A-Baseball-Batsman-Batting.jpg", alt: "A Baseball Batsman Batting"
				%p.caption
					A baseball batsman practicing at the nets.
			%li
				%h3.caption
					%span.circle.background_yellow
						2
					A Stamp of a Bird
				=image_tag "Pictures-From-Around-The-World/A-Bird-Stamp.jpg", alt: "A-Bird-Stamp"
				%p.caption
					A Stamp which symbolizes peace.
			%li
				%h3.caption
					%span.circle.background_yellow
						3
					Image for an App
				=image_tag "Pictures-From-Around-The-World/Birdy_App_Email_Icon.png", alt: "Birdy-App-Email-Icon"
				%p.caption
					An email icon for an app.
			%li
				%h3.caption
					%span.circle.background_yellow
						4
					Dribble&#rquo; Logo Re-Designed
				=image_tag "Pictures-From-Around-The-World/Dribble-Logo-Re-Designed", alt: "Dribble-Logo-Re-Designed"
				%p.caption
					How Logo Re-Design Helps
			
			%li
				%h3.caption
					%span.circle.background_yellow
						5
					A Sketch of Founder&#rquo; User Interface
				=image_tag "Pictures-From-Around-The-World/Founders-User-Interface-Kit.png", alt: "Founders-User-Interface-Kit.png"
				%p.caption
					Founder&#rquo; being re-designed using colors.
			
			%li
				%h3.caption
					%span.circle.background_yellow
						6
					A Collage of Logo Work
				=image_tag "Pictures-From-Around-The-World/Logo_Designs.jpg", alt: "Logo_Designs.jpg"
				%p.caption
					Some logos re-designed and re-worked here.
			%li
				%h3.caption
					%span.circle.background_yellow
						6
					Early Morning Run
				=image_tag "Pictures-From-Around-The-World/Girls-Jogging.jpg", alt: "Girls-Jogging"
				%p.caption
					Two girls giving it all day-in-day-out.
			%li
				%h3.caption
					%span.circle.background_yellow
						7
					Happy Birthday Oreo
				=image_tag "Pictures-From-Around-The-World/Happy-Birthday-Oreo.jpg", alt: "Girls Jogging"
				%p.caption
					Celebrating 100 years of Oreo. 
					
			%li
				%h3.caption
					%span.circle.background_yellow
						8
					Cookies and Oreo - A Better World
				=image_tag "Pictures-From-Around-The-World/Oreo-Cookies.jpg", alt: "Oreo-Cookies"
				%p.caption
					Oreo biscuits and cookies, they taste good.
			%li
				%h3.caption
					%span.circle.background_yellow
						9
					Saucer, Spoons and Oreo
				=image_tag "Pictures-From-Around-The-World/Oreo-Saucer-and-Spoons.jpg", alt: "Oreo-Saucer-and-Spoons"
				%p.caption
					The best way to have Oreo is to be surrounded by Plates, Spoons and Colours.
			%li
				%h3.caption
					%span.circle.background_yellow
						10
					Nike Joggers Out On the Road
				=image_tag "Pictures-From-Around-The-World/Shoes-and-Run.jpg", alt: "Shoes-and-Run"
				%p.caption
					Some joggers just gone out for a quick run.
			
			%li
				%h3.caption
					%span.circle.background_yellow
						11
					The Olympics, Ice and the Game that Matters
				=image_tag "Pictures-From-Around-The-World/Girl-Skiing", alt: "Girl-Skiing"
				%p.caption
					A champion on her way to the finish line.
			%li
				%h3.caption
					%span.circle.background_yellow
						12
					Getting Ready for the Big Game
				=image_tag "Pictures-From-Around-The-World/Game-Time.jpg", alt: "Game-Time"
				%p.caption
					A ball player lacing out his shoes for the big game.
			
		-#<a href="#" class="centered-btns_nav centered-btns1_nav prev">Previous</a>
		-#<a href="#" class="centered-btns_nav centered-btns1_nav prev">Previous</a>	
=javascript_include_tag "responsiveslides.js"					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
			






			