#welcome-email
	%h3.sit-center
		%span.copy-red Hey 
		%span.copy-navy-blue-sports #{@people_name}

	%p	
		How You Doing?
		%span.copy-copy-navy-blue-sports Thanks,
		for
		%span.copy-orange-red letting
		us design your
		%span.copy-red website.
		We would
		%span.copy-navy-blue-sports start
		%span.copy-red work
		on your website in a few
		%span.copy-golden-yellow hours from now.
		We
		%span.copy-navy-blue-sports Promise,
		we would Design a Great
		%span.copy-red Website.
		We would work on our 
		%span.copy-navy-blue-sports Project Dashboard 
		for
		completing the entire website.
		You have to
		%span.copy-navy-blue-sports SignUp
		with us:
		
	%a {href: "www.peopledesignstudio.com/lets-work-together"} Let's Start Work
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		