=form_for :user, url: users_path do |objUser|
	.form-group
		%p.sit-center
			%span Email
		=objUser.label :email, class: "hidden"
		=objUser.text_field :email, class: "controls"
			
	.form-group
		%p.sit-center
			%span Password
		=objUser.label :password_digest, class: "hidden"
		%p
			It&rsquo;s easier to 
			%span.copy-medium-spring-green remember
			%span.copy-red passwords when you see it and type.
		=objUser.text_field :password_digest, class: "controls"
		
	=objUser.submit 'Roll In', id: "button-dodger-blue-second", class: "sit-center"
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	