#lets-work-together
	%h2.sit-center
		Let&rsquo;s		
		%span.copy-navy-blue-sports Begin
		Work 
		%span.copy-red Here...
	%h3.sit-center
		Please use the
		%span.copy-navy-blue-sports Email Id
		that you used for
		%span.copy-medium-spring-green	Submitting 
		Your
		%span.copy-red Website.
	%h3.sit-center.margin-bottom-five-percent
		Let&rsquo;s 
		%span.copy-red	Get
		Started
	.row#lets-start
		.col-md-5
			=render 'form'
	-#- if @people.new_record?
	-#%h3#password-no-show.sit-center.copy-navy-blue
		We believe it&rsquo;s easier to remember passwords when you see it and type.
		