#home.row
	%h1#what_we_do 
		We 
		%span.copy-red Make,
		%span.copy-deep-sky-blue Design
		and
		%span.copy-medium-spring-green Program
		%span.copy-blue Websites.
	#our-websites
		.col-md-5.margin-left-one-hundreds
			#first_website.background-yellow
				%h1.copy-navy-blue-sports.copy-capitals
					101 PRESENTATIONS
			%h3.margin-bottom-ten-percent
				%a{ href:"http://www.101presentations.com" } www.101presentations.com
				
		.col-md-5	
			#second_website.background-red
				%h1.copy-yellow.copy-capitals
					PRAHARAJ CONSTRUCTIONS
			%h3.margin-bottom-ten-percent
				%a{ href: "http://www.praharajconstructions.biz" } www.praharajconstructions.biz
	%h1#how_much_you_pay.sit-bottom
		You Pay in the 
		%span.copy-red Price Band 
		of
		%span.copy-islamic-green Dollars
		%span.copy-blue $310-$665
	%h2#lets-start-your-website
		=link_to "Let's Get Started", lets_get_started_path, id: "button-dodger-blue-second"
	
	#what-we-are-working-on-right-now.margin-bottom-five-percent
		%h1#heading.sit-center.margin-bottom-four-percent
			%span.copy-navy-blue-sports What
			We Are
			%span.copy-navy-blue-sports Working
			on
			%span.copy-red Right
			%span.copy-medium-spring-green Now.
			
		.col-md-5.margin-left-two-hundreds
			.background-vermillion
				%h1.sit-center.copy-white.copy-capitals
					Shyama Rehabilitation And Healthcare
		.col-md-4.margin-left-one-hundreds
			%p.margin-bottom-five-percent
				Shyama Rehabilitation and Healthcare	is a 
				%span.copy-blue Health Clinic
				providing Physiotherapy, Orthopedic Appliances and Splinting Services.

			%p
				We are just getting started with the project.
				
			%a{ href: "http://enigmatic-brook-3933.herokuapp.com/", title: "Shyama Rehabilitation and Healthcare" }
			Shyama Rehabilitation and Healthcare	
				
	#we-make-all-websites-box.sit-bottom
		%h2#we_make_business_personal_and_hobby_websites
			We make
			%strong	Business,
			%strong	Personal
			and
			%strong	Hobby
			websites.
		.line_red
		%p.margin-bottom-three-percent
			Making websites is 
			%span.copy-red.text-bold Fun,
			%span.copy-blue.text-bold Easy 
			and 
			%span.copy-medium-spring-green.text-bold Fast,
			so we make it all. From your First
			%span.copy-blue.text-bold Business Store&#44;
			to Apps for Managing your 
			%span.copy-red.text-bold Everyday Activities&#44;
			to making a website for your 
			%span.copy-genoa.text-bold Home Sports Team&#44;
			we make it all.
			We are a 
			%span.copy-red.text-bold Design Studio
			after all. We help you have the best website for your 
			%span.copy-electric-indigo.text-bold Family&#44;
			%span.copy-medium-spring-green Friends 
			and 
			%span.copy-yellow.text-bold Relatives.
			We promise&#44; we will Build a Great
			%span.copy-blue.text-bold Website
			for you to 
			%span.copy-yellow.text-bold Showcase
			the 
			%span.copy-red.text-bold World.
		%h1.margin-bottom-five-percent.sit-center
			Let&rsquo;s
			%span.border_red work
			together.
		#shapes
			.row
				.col-md-4
					.triangle.background-green.pull-left
				.col-md-4
					.circle.background-yellow
				.col-md-4
					.square.pull-right.background-red
						
		%h2#we_love_designing_copywriting_and_programming_websites.sit-center
			We love
			%strong Designing,
			%strong	Copywriting
			and
			%strong Programming,
			websites.
		.line_red	
		
	#circle-direction
		.circle.background-jade
			%span.copy-white
				&darr;
	
	#from-our-blog
		%h1.sit-center.margin-bottom-ten-percent
			From Our Blog
		.row
			.col-md-2
			
		- @blog.each do |objSinglePost|
			.col-md-5
				=link_to objSinglePost do
					.background-yellow
						%h2.copy-navy-blue-sports
							We Are On The Internet - Our Very First Lines
				=link_to "Read More", objSinglePost
	
	#whats-happening-around-the-world
		%h1.font-size-fourty-two-pixels.sit-center.margin-bottom-five-percent
			%span.copy-red What&rsquo;s 
			%span.copy-golden-yellow Happening
			Around the
			%span.copy-blue World.
					
		.width-seventy-percent
			.row.margin-bottom-five-percent
				.col-md-5
					.background-red
						%h1.copy-white.sit-center
							Xaniar Khosravi, an Iranian Singer Performs in his Second Concert
				.col-md-7
					%p.copy-blue.margin-bottom-five-percent
						Xaniar Khosravi, the Iranian Underground Pop Singer was allowed by his Government to perform in his Second Concert. This is, a Series of Steps being taken by the Government to open up the entertainment Sector to More Artists and Allowing them to Commnicate with it's public.
					
					%a{href: "http://www.nytimes.com/2014/04/29/world/middleeast/singer-steps-into-spotlight-as-nation-changes-political-tune.html?ref=world", title: "Singer Steps Into the Limelight As A Nation Changes Its Political Tune"} New York Times
			.border-bottom-navy-blue.margin-bottom-five-percent
			
			.row.margin-bottom-five-percent
				.col-md-5
					.background-medium-spring-green
						%h1.copy-white.sit-center
							Chernobyl - Capping a Catastrophe
							
				.col-md-7
					%p.copy-blue.margin-bottom-five-percent
						In Chernobyl, a %span.copy-red 32-000 ton arch is being built to shield the place where the Nuclear Incident Happened. This Structure is one of the Many Steps being taken to Make the Vicinity a Much More Safer Place.
					
					%a{href: "http://www.nytimes.com/interactive/2014/04/27/science/chernobyl-capping-a-catastrophe.html?ref=world", title: "Chernobyl - Capping a Catastrophe"} New York Times