#home.row
	%h1#what_we_do 
		We 
		%span.copy-red Make,
		%span.copy-deep-sky-blue Design
		and
		%span.copy-medium-spring-green Program
		%span.copy-blue Websites.
	#our-websites
		.col-md-5.margin_left_one_hundreds
			#first_website.background-yellow
				%h1.copy-navy-blue-sports.copy-capitals
					101 PRESENTATIONS
			%h3.margin-bottom-ten-percent
				%a{ href:"http://www.101presentations.com" } www.101presentations.com
				
		.col-md-5	
			#second_website.background-red
				%h1.copy-yellow.copy-capitals
					PRAHARAJ CONSTRUCTIONS
			%h3.margin-bottom-ten-percent
				%a{ href: "http://www.praharajconstructions.biz" } www.praharajconstructions.biz
	%h1#how_much_you_pay.sit-bottom
		You Pay in the 
		%span.copy-red Price Band 
		of
		%span.copy-islamic-green Dollars
		%span.copy-blue $310-$665
	%h2#lets_start_your_website
		=link_to "Let's Get Started", lets_get_started_path, id: "people-design-studio-button-blue"
		
	#we_make_all_websites_box.margin-bottom-twenty-percent
		%h2#we_make_business_personal_and_hobby_websites
			We make
			%strong	Business,
			%strong	Personal
			and
			%strong	Hobby
			websites.
		.line_red
		%p.margin-bottom-three-percent
			Making websites is 
			%span.copy-red.text-bold Fun,
			%span.copy-blue.text-bold Easy 
			and 
			%span.copy-medium-spring-green.text-bold Fast,
			so we make it all. From your First
			%span.copy-blue.text-bold Business Store&#44;
			to Apps for Managing your 
			%span.copy-red.text-bold Everyday Activities&#44;
			to making a website for your 
			%span.copy-genoa.text-bold Home Sports Team&#44;
			we make it all.
			We are a 
			%span.copy-red.text-bold Design Studio
			after all. We help you have the best website for your 
			%span.copy-electric-indigo.text-bold Family&#44;
			%span.copy-medium-spring-green Friends 
			and 
			%span.copy-yellow.text-bold Relatives.
			We promise&#44; we will Build a Great
			%span.copy-blue.text-bold Website
			for you to 
			%span.copy-yellow.text-bold Showcase
			the 
			%span.copy-red.text-bold World.
		%h1.margin-bottom-five-percent.sit-center
			Let&rsquo;s
			%span.border_red work
			together.
		#shapes
			.row
				.col-md-4
					.triangle.background-green.pull-left
				.col-md-4
					.circle.background-yellow
				.col-md-4
					.square.pull-right.background-red
						
		%h2#we_love_designing_copywriting_and_programming_websites.sit-center
			We love
			%strong Designing,
			%strong	Copywriting
			and
			%strong Programming,
			websites.
		.line_red	
		
		
		
		
