#lets-start-work
	%h3.sit-center
		%span.copy-blue Hey, welcome to the Design Studio.
		%span.copy-orange-red We will work here. 
		%span.copy-mountain-meadow Why don&rsquo;t you write your first line here:
	
	=render 'form'	