#lets-start-work
	%h3
		%span.copy-blue Hey, welcome to the Design Studio.
		%span.copy-orange-red We will work here. 
		%span.copy-mountain-meadow Why don&rsquo;t you write your first line
		%span.copy-red &#45; 
	.row
		.col-md-6.col-md-offset-3
			=form_for :work, url: work_index_path do |objWork|
				=objWork.text_area :what, class: "controls"
				=objWork.submit "Your Line Here", class: "sit-center"		
#work-to-be-done
	.row
		.col-md-9
			%span		
				=link_to "Paritosh", "www.google.com", class: "copy-red"
				%h3.copy-pink
					Hey John, Welcome to our Design Studio, and thanks for the project.
				%h2.copy-mountain-meadow
					This is what we have thought of:
					%p.copy-dodger-blue
						Sections in your website:
						1 A Home Page with a List of your latest Jerseys.
						2 A Product Page having a Jersey&rsquo;s Image, it&rsquo;s Description and Price.
						3 A Page where users would be able to buy a Jersey&#44; through some payment options.
	.row
		.col-md-9
			%span		
				=link_to "Paritosh", "www.google.com", class: "copy-red"
				%h3.copy-pink
					Hey John, Welcome to our Design Studio, and thanks for the project.
				%h2.copy-mountain-meadow
					This is what we have thought of:
					%p.copy-dodger-blue
						Sections in your website:
						1 A Home Page with a List of your latest Jerseys.
						2 A Product Page having a Jersey&rsquo;s Image, it&rsquo;s Description and Price.
						3 A Page where users would be able to buy a Jersey&#44; through some payment options.				
					
						
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			