%p{id: "the-email-goes-here", style: "font-family: 'Courier New', Courier, monospace; font-size: 20px; line-height: 30px; text-align: center; color: #005dff; margin-bottom: 5%"}
	!=@body
	
%h3{id: "whats-happening-around-the-world", style: "font-family: 'Courier New', Courier, monospace; font-size: 24px; line-height: 36px; text-align: center; color: #ff4500; margin-bottom: 5%" }	What&rsquo;s Happening Around The World Section

	%div{id: "container-whats-happening-around-the-world-section", style: "font-family: 'Courier New', Courier, monospace; font-size: 20px; line-height: 30px; text-align: center; color: #ff4500; margin-bottom: 5%"}
		
		%div{id: "section-one", style: "width: 50%; float:left;"}
			%p{style: "color: #005dff; margin-bottom: 5%"}
				Xaniar Khosravi, the Iranian Underground Pop Singer was allowed by his Government to perform in his Second Concert. This is, a Series of Steps being taken by the Government to open up the entertainment Sector to More Artists and Allowing them to Communicate with it&rsquo;s public.
			%a{href: "www.nytimes.com", title: "New York Times"} New York Times
			
		%div{id: "section-two", style: "width: 50%; float:left;"}	
			%p{style: "color: #005dff; margin-bottom: 5%"}
				In Chernobyl, a 32-000 ton arch is being built to shield the place where the Nuclear Incident Happened. This Structure is one of the Many Steps being taken to Make the Vicinity a Much More Safer Place.		
			%a{href: "www.nytimes.com", title: "New York Times"} New York Times
		
		%div{id: "from-our-blog", style: "font-family: 'Courier New', Courier, monospace; font-size: 20px; line-height: 30px; text-align: center; color: #ff4500; margin-bottom: 5%"}
			
			%h3{style: "font-size: 24px; line-height: 36px; color: #ff4500"}
			
			
				%div{id: "first-post", style: "width: 50%; float:left;"}
				
					%p{style: "color: #005dff; margin-bottom: 5%"}
					
					
					%a{href: "www.nytimes.com", title: "New York Times", style: "color: #f6e200"} New York Times
				
				%div{id: "second-post", style: "width: 50%; float:left;"}
				
					%p{style: "color: #005dff; margin-bottom: 5%"}
					
					
					%a{href: "www.nytimes.com", title: "New York Times", style: "color: #f6e200"} New York Times
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		