<%= form_for(@marketing) do |f| %>
  <% if @marketing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marketing.errors.count, "error") %> prohibited this marketing from being saved:</h2>

      <ul>
      <% @marketing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_area :Name %>
  </div>
  <div class="field">
    <%= f.label :Business_Name %><br>
    <%= f.text_area :Business_Name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_area :Email %>
  </div>
  <div class="field">
    <%= f.label :Phone_Number %><br>
    <%= f.text_area :Phone_Number %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_area :Address %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
