#our-blog
	%h1.copy-navy-blue-sports.sit-center.margin-bottom-five-percent
		Our Blog
	= debug @posts
	-#.row
		-#- @blogs.each do |objViewPost|
			-#= objViewPost.title
			-#= objViewPost.content	
		
	