#our-knowledge
	.row
		.col-md-8
			%h1.pull-left
				!= link_to "#{ @blog.title } ", blog_path(@blog)
				
			.border-deep-sky-blue.sit-bottom.margin-bottom-four-percent
			
			%p.pull-right
				!= link_to "Edit this Post", edit_blog_path(@blog)
				
			%p.copy-navy-blue-sports
				!= @blog.content
				
		.col-md-4.margin-top-four-percent
			%h2
				=link_to "Let Us Design Your Website", root_path, id: "button-dodger-blue-second"
			%h3.sit-center.margin-top-ten-percent
				We 
				%span.copy-navy-blue-sports Promise, 
				we would 
				%span.copy-golden-yellow Design
				A
				%span.copy-red Great

				%span.copy-navy-blue-sports Website.		
	
	
	
	
	
	
	
	
	
	
	
	