#our-knowledge
	.row
		.col-md-7
			%h1.pull-left
				!= link_to "#{ @blog.title } ", blog_path(@blog)
				
			.border-deep-sky-blue.sit-bottom.margin-bottom-four-percent
			
			-#%p.pull-right
				-#!= link_to "Edit this Post", edit_blog_path(@blog)
				
			%p.copy-navy-blue-sports
				!= @blog.content
				
			%h2.sit-center
				%span.copy-navy-blue-sports Reach
				out to us for a 
				%span.copy-red Website.
				Our
				= mail_to "hello@peopledesignstudio.com", "Email", encode: "hex"
				
		.col-md-5.margin-top-four-percent
			%h3
				=link_to "Let Us Design Your Website", root_path, id: "button-dodger-blue-second"
			%h3.sit-center.margin-top-ten-percent
				We 
				%span.copy-navy-blue-sports Promise, 
				we would 
				%span.copy-golden-yellow Design
				A
				%span.copy-red Great

				%span.copy-navy-blue-sports Website.
				
	.row
		#disqus-thread
		:javascript
			var disqus_shortname = 'wwwpeopledesignstudiocom';
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		%noscript 
			Please enable JavaScript to view the 
			%a{ href: "http://disqus.com/?ref_noscript" } comments powered by Disqus.
		%a{ href: "http://disqus.com", class:"dsq-brlink" }comments powered by 
		%span.logo-disqus Disqus