#we-are-on-the-internet-our-very-first-lines
.row
	.col-md-7

		%h2.copy-orange-red.margin-bottom-five-percent
			We Are On The Internet - Our Very First Lines
			
		%p.copy-navy-blue-sports	
			We are a Design Studio Designing, Copy Writing and Programming websites. We have taken the First Steps on the Internet. We would always Design Good Websites, Make the Web a Lot Better and Open Place. We Hope, the Web would be a better place, along with us.

		%p
			%span.copy-orange-red What We Would be Doing: 
			%br
			%span.copy-dodger-blue-second Apart from Designing Websites, we would be sharing Startup and Business Ideas and would do it all to See that Some of them Get Worked Upon and Become a Good Business. Along with these Ideas, we would be sharing how certain Design Entry Points could be Improved. We would be Using Ruby on Rails, Twitter Bootstrap and Heroku for Designing, Programming and Hosting Websites. We Hope, we could be a Good Design Studio.			
	
	.col-md-5
		=link_to "Let Us Design Your Website", root_path, id: "button-dodger-blue-second"
		%h3.sit-center.margin-top-ten-percent
			We 
			%span.copy-navy-blue-sports Promise, we would 
			%span.golden-yellow Design
			A 
			%span.copy-red Great
			%span.copy-copy-navy-blue-sports Website.
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			